Options +FollowSymLinks
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/api/([^/]+)/([^/]+)$ index.php?module=$1&command=$2 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/api/([^/]+)/([^/]+)/([^/]+)$ index.php?module=$1&command=$2&p1=$3 [NC]
