Options +FollowSymLinks
IndexIgnore *
RewriteEngine On
RewriteBase /

## Test for access to private directory
##RewriteCond %{THE_REQUEST} ^[A-Z]{3,9}\ /private/ .*$ [NC]
## Test that file requested has php extension
##RewriteCond %{REQUEST_FILENAME} ^.+\.php$
## Forbid Access
##RewriteRule .* - [F,NS,L] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/api/([^/]+)/([^/]+)$ /api/index.php?module=$1&command=$2 [NC,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^/api/([^/]+)/([^/]+)/([^/]+)$ /api/index.php?module=$1&command=$2&p1=$3 [NC,L]
